<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
        <appender name="InfoDayLog" type="log4net.Appender.RollingFileAppender">
            <file value="./Log/InfoDayLog.log" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyyMMdd" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10000KB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="DEBUG" />
                <param name="LevelMax" value="INFO" />
            </filter>
        </appender>
        
        <appender name="ErrorDayLog" type="log4net.Appender.RollingFileAppender">
            <file value="./Log/ErrorDayLog.log" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyyMMdd" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10000KB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="ERROR" />
                <param name="LevelMax" value="ERROR" />
            </filter>
        </appender>

        <root>
            <appender-ref ref="ErrorDayLog"/>
            <appender-ref ref="InfoDayLog"/>
        </root>

        <logger name="NHibernate.SQL">
            <level value="DEBUG" />
            <appender-ref ref="InfoDayLog"/>
        </logger>
    </log4net>
</configuration>